blobfile==3.0.0
datasets==4.0.0
diffusers==0.34.0
lpips==0.1.4
matplotlib==3.10.5
mpi4py==4.1.0
numpy==2.3.2
Pillow==11.3.0
tensorflow==2.20.0
torch==2.8.0
torchmetrics==1.8.0
torchvision==0.23.0
tqdm==4.67.1
torch-fidelity==0.3.0
tqdm==4.67.1